version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=ec2,elbv2,iam,sts,s3
      - DEBUG=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
