render_api_key      = "RENDER_API_KEY"
cockroach_api_key  = "COCKROACH_API_KEY"
project_name       = "tech-challenge"

main_source_stock_uri = "https://stock.com"
main_source_stock_key = "MAIN_SOURCE_STOCK_KEY"
session_secret = "SESSION_SECRET"
gin_mode = "debug"
