cockroach_api_key = "COCKROACH_API_KEY"
project_name      = "tech-challenge"
backend_ami_id               = ""
backend_gin_mode             = ""
backend_session_secret       = "SESSION_SECRET"
localstack_ep                = "http://localhost:4566"
backend_main_data_source_key = ""
backend_main_data_source_uri = ""
region                       = ""
backend_artifact_key         = ""
backend_instance_type        = ""
backend_artifact_bucket      = ""
