# Project
project_name = "stock-app"

# Backend
backend_instance_type       = "t3.micro"
backend_ami_id              = "ami-0e5c7c1b9d1f6e0d3"
backend_artifact_bucket     = "stock-artifacts"
backend_artifact_key        = "backend"
backend_main_data_source_uri = "https://your-api-url.com/path"
backend_main_data_source_key = "YOUR_API_KEY"
backend_gin_mode             = "debug"

# Frontend
frontend_artifact_bucket = "stock-frontend"
frontend_dist_path       = "../../frontend/dist"

# CockroachDB
cockroach_api_key = "YOUR_COCKROACH_API_KEY"

# LocalStack endpoint (solo para pruebas locales)
localstack_ep = "http://localhost:4566"
